{% extends 'base.html.twig' %}

{% block title %}CleanReunion{% endblock %}


{% block stylesheets %}
    
{% endblock %}

{% block body %}
<h1>Créer un signalement</h1>
        
        {% if errors is defined and errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post" action="{{ path('report_create') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="reportForm_location">Emplacement</label>
                {{ form_widget(reportForm.location, {'attr': {'class': 'form-control', 'id': 'location-input', 'disabled': 'true'}}) }}
                <button type="button" class="btn btn-primary" id="get-location-btn">Obtenir la position actuelle</button>
            </div>  
            
            <div class="form-group">
                <label>Position actuelle</label>
                <div id="current-location"></div>
            </div>

            <div class="form-group">
                <label for="reportForm_description">Description</label>
                {{ form_widget(reportForm.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            {{ form_rest(reportForm) }}
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var getLocationBtn = document.getElementById('get-location-btn');
            var locationInput = document.getElementById('location-input');
            var currentLocationDiv = document.getElementById('current-location');
            var locationLatInput = document.getElementById('report_create_form_location_lat');
            var locationLngInput = document.getElementById('report_create_form_location_lng');

            getLocationBtn.addEventListener('click', function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var latitude = position.coords.latitude;
                        var longitude = position.coords.longitude;

                        // Afficher la position actuelle
                        currentLocationDiv.innerHTML = 'Latitude: ' + latitude + ', Longitude: ' + longitude;

                        // Remplir les champs de formulaire avec la position
                        locationLatInput.value = latitude
                        locationLngInput.value = longitude
                    });
                } else {
                    currentLocationDiv.innerHTML = 'La géolocalisation n\'est pas prise en charge par votre navigateur.';
                }
            });
        });
    </script>
{% endblock %}