{% extends 'base.html.twig' %}

{% block title %}CleanReunion{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/reports.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div style="background-color: white; padding: 20px; border-radius: 20px; margin: 20px">
Reports Home
<a href="/reports/create">Signaler un dépot de déchet</a>
</div>

<div class="reports">
    {% for report in reports %}
        <div class="report">
            Latitude: {{ report.getLocation()['lat'] ?? '' }}, Longitude: {{ report.getLocation()['lng'] ?? '' }}
            <p class="report-description">{{ report.getDescription() }}</p>
            <div class="report-images">
            {% for image in report.getImages() %}
                <div class="report-image" style="background-image:url({{ asset('uploads/images/' ~ image.getFilename()) }})"></div>
            {% endfor %}
            </div>
        <!-- Render other report properties as needed -->
        </div>
    {% endfor %}
</div>
{% endblock %}